*{
    margin: 0;
    padding: 0;
}
.header, 
.hero, 
.body,
.bar,
.footer {
    background: rgb(117,200,255);
    background: linear-gradient(90deg, rgba(117,200,255,1) 0%, rgba(208,129,247,1) 100%);
}

.col-1 {
    background-color: rgb(224, 224, 224);
    text-align: center;
    font-weight: 600;
    color: #000;
    min-height: 1.5rem;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
}

.footer__col{
    height: 13vh;
}

.box {
    margin: 1rem 0;
    min-height: 5rem;
    background-color: #fff;
    font-size: 30px;
    color: #000;
    text-align: center;
    border: 1px solid slategrey;
}

.red__box {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
}